.DS_Store
ios/www
android/assets/www
ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/enlarged.xcuserdatad/xcschemes/CordovaLib.xcscheme

ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/enlarged.xcuserdatad/xcschemes/xcschememanagement.plist

ios/eerstelinks.xcodeproj/project.xcworkspace/xcuserdata/enlarged.xcuserdatad/UserInterfaceState.xcuserstate

ios/eerstelinks.xcodeproj/xcuserdata/enlarged.xcuserdatad/xcschemes/eerstelinks.xcscheme

ios/eerstelinks.xcodeproj/xcuserdata/enlarged.xcuserdatad/xcschemes/xcschememanagement.plist

android/bin/resources.ap_

android/bin/eerstelinks.apk

ios/eerstelinks.xcodeproj/project.xcworkspace/xcuserdata/san.xcuserdatad/UserInterfaceState.xcuserstate
