#server_message_div {
    width: 100% !important;
    background-color: #fbc39e !important;
    border: solid 1px #ff6600 !important;
    clear: both !important;
    margin: 0 0 10px 0 !important;
    padding: 0 !important;
}

#server_message_p {
    margin-left: 20px;
    font-size: 14px !important;
}


/* Loading page */
#loading-page {
    background-color: #000;
    background-image: url(../img/logo/logo150x150.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* Menu page elements */

/*#login-page {
    background-image: url(../img/logo/logo200x200x0.4.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    /*background-attachment: fixed;*/
}*/


#menu-page-panel {
    height: 100%;
    min-height: 100%;
}

#menu-page-panel-content {
    /* suff */
    background-color: green;
}

#menu-page-content > div {
    width: 5em;
    margin: 0.5em;
    float: left;
}

#menu-page-content > div > i {
    display: block;
    text-align: center;
}

.menu_icon_glow_effect {
    text-shadow: 0px 0px 5px #ff7700, 0px 0px 15px #ff7700, 0px 0px 25px #ff7700, 0px 0px 35px #ff7700, 0px 0px 45px #ff7700;
}

#menu-page-content > div > p {
    font-size: 0.7em;
    text-align: center;
}

/* Check image page */

#preview_image {
    max-width: 96%;
    max-height: 96%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}