#loading-page {
    background-color: #000;
    /* background-image: url(../img/logo100x100.png); */
    background-image: url(../img/logo/logo100x100.png);
    background-repeat: no-repeat;
    background-position: center;
}