* {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#upload_animation_text {
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

#char_counter_div {
    float: right;
    /*background-color: green;*/
    color: #cccccc;
    height: 30px;
}

#char_counter_div > p {
    height: 30px;
    margin: 0;
    padding: 4px;
}

.char_counter_message_too_long {
    color: red !important;
}

.social-media-photo-icons {
    width: 40px;
    height: 40px;
    /*background-color: green;*/
    float: left;
    text-align: center;
}

.facebook_account_is_selected {
}

.twitter_account_is_selected {
}

#facebook_accounts {
    width: 100%;
}

#twitter_accounts {
    width: 100%;
}

#facebook_accounts > div {
    background-color: #3d5e96;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #ffffff;
    margin-bottom: 2px;
    border-radius: 5px;
    /*border-bottom: solid 1px #000000;*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#twitter_accounts > div {
    background-color: #3b8fc9;
    /*background-color: red;*/
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #ffffff;
    margin-bottom: 2px;
    border-radius: 5px;
    /*border-bottom: solid 1px #000000;*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

i.icon-ok {
    display: none;
}
div.facebook_account_is_selected i.icon-ok {
    display: inline;
}

div.twitter_account_is_selected i.icon-ok {
    display: inline;
}

#photo_upload_progress_bar {
    height: 5px;
    width: 0px;
    background-color: #ff6600;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

.collapsible-content {
    width: 100%;
    overflow: hidden;
}

.collapsible-content-column {
    min-height: 50px;
    float: left;
    background-color: #ffffff;
    margin: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border: 3px solid #323232;
    padding: 3px;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
}

.collapsible-content-column.art {
    background-color: #ff6600;
}

.collapsible-content-column > div {
    width: 100%;
    background-color: #ff6600;
    min-height: 55px;
    border-bottom: 3px solid #ffffff;
    margin: 0;
    padding: 0;
}

.collapsible-content-column > div:last-child {
    width: 100%;
    background-color: #ff6600;
    min-height: 55px;
    margin: 0 auto;
    border-bottom: 0px;
    padding: 0;
}

.collapsible-content-column-block > p {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.collapsible-content-column-block-effect {
    -webkit-box-shadow: inset 0px 0px 15px 5px rgba(99, 99, 99, 0.5);
    box-shadow: inset 0px 0px 15px 5px rgba(99, 99, 99, 0.5);
}


#server_message_div {
    width: 100% !important;
    background-color: #fbc39e !important;
    border: solid 1px #ff6600 !important;
    clear: both !important;
    margin: 0 0 10px 0 !important;
    padding: 0 !important;
}

#server_message_p {
    margin-left: 20px;
    font-size: 14px !important;
}


/* Loading page */
#loading-page {
    background-color: #000;
    background-image: url(../img/logo/logo150x150.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* Menu page elements */

/*#login-page {
    background-image: url(../img/logo/logo200x200x0.4.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    /*background-attachment: fixed;*/
}*/


#menu-page-panel {
    height: 100%;
    min-height: 100%;
}

#menu-page-panel-content {
    /* suff */
    background-color: green;
}

#menu-page-content > div {
    width: 5em;
    margin: 0.5em;
    float: left;
}

#menu-page-content > div > i {
    display: block;
    text-align: center;
}

.menu_icon_glow_effect {
    text-shadow: 0px 0px 5px #ff7700, 0px 0px 15px #ff7700, 0px 0px 25px #ff7700, 0px 0px 35px #ff7700, 0px 0px 45px #ff7700;
}

#menu-page-content > div > p {
    font-size: 0.7em;
    text-align: center;
}

/* Check image page */

#preview_image {
    max-width: 96%;
    max-height: 96%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}